fastapi
uvicorn
sqlalchemy
mysql-connector-python
bcrypt
pyjwt
python-dotenv
email-validator
langchain
langchain-groq
langchain-community
chromadb
requests
streamlit
python-multipart
PyMuPDF
python-docx
tqdm
sentence-transformers